

<div class="push8"></div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			
					<div data-toggle="collapse" action="{{savedJob}}?_method=GET" method="POST" class="card">
									<div class="row">
										<div class="col-6">

											{{!--
											<div class="form-group">
												<label for="exampleFormControlInput1">Email address</label>
												<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
											</div> --}}

											<div class="form-group">
												<label for="editCompany" id="chCompany">Job ID</label>
												<input type="text" class="form-control" id="chComp" placeholder="{{id}}">
											
											</div>
											<br>
											<div class="form-group">
												<label for="editContact" id="chContact">Change Contact</label>
												<input type="text" class="form-control" id="chCont" placeholder="{{contactName}}">
												<button class="btn btn-success btn-sm" id="saveContChanges">Save Changes</button>
											</div>

											<br>

											<div class="form-group">
												<label for="editPhone" id="chContPhone">Change Contact Phone</label>
												<input type="text" class="form-control" id="chPhone" placeholder="{{contactPhone}}">
												<button class="btn btn-success btn-sm" id="savePhoneChanges">Save Changes</button>
											</div>

											<br>
											<p> Confidence level: {{this.confidenceLevel}}</p>
											<div class="text-center">
												<label for="editConf" id="chConf">Change Confidence Level </label>
												<select class="form-control" id="chConfidence">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
												<button class="btn btn-success btn-sm" id="chConfidenceBtn">Change Level of Confidence</button>

												<div class="text-center">
												<button class="btn btn-danger btn-sm" id="deleteJob">Delete Job</button>
											</div>
											</div>
											<br>
											<p> Position: {{this.position}}</p>
											<br>
											<p> Job Location: {{this.jobLocation}} </p>
											<br>
											<p> Remote Available: {{this.remote_available}}</p>
											<br>
											<p> Posted Annual Salary: {{this.postedSalary}} </p>
											<br>
											<br>
				
        </div>
	
	</div>
</div>

	

<button class="btn btn-success btn-sm" id="addComment">Add Comment</button>
	{{#each this.comments }}
		<h1></h1>
	

<div class="col-6">
	<div class="form-group" action="?_method=GET" method="POST">

		<label for="comment">Comment:</label>
		<textarea class="form-control" rows="5" id="commentBox" placeholder="{{this.dataValues.comment}}"></textarea>
		<button class="btn btn-danger btn-sm" id="deleteComment{{this.datavalues.id}}">Delete</button>
		<button class="btn btn-primary btn-sm" id="editComment{{this.datavalues.id}}" placeholder="{{this.datavalues.id}}">Edit</button>
	</div>
</div>
{{/each}}







