<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="create-event">
							<h2>Enter New Job</h2><br>
							<div class="col-md-12">
                                

																<p><h1>AAAAHHH</h1></p>
								 {{#each savedJobs}}

                                        <p> Company: {{this.company}}</p>
                                        <p> Contact Name: {{this.contactName}}</p>
                                        <p> Position: {{this.position}}</p>
                                        <p> Job Location: {{this.job_location}} </p>
                                        <p> Remote Available: {{this.remote_available}}</p>
                                        <p> Confidence level: {{this.confidence_level}}</p>
                                        <p> Notes to Self: {{this.notes_to_self}} </p>
                                        <p> Posted Annual Salary: {{this.posted_annual_salary}} </p>
                                        <p> Posted Hourly Salary: {{this.posted_hourly_salary}} </p>


                <form action="get/event/{{this.id}}?_method=GET" method="POST">
                  <button type="submit" class="btn red accent-4 ">delete</button>
                </form>

          {{/each}}

							
									</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


        <a href = "/signup" class="waves-effect waves-light btn red lighten-2" id="btnSignUp"> Sign Up</a>
      <a href = "/login" class="waves-effect waves-light btn red lighten-2" id="btnSignIn"> Log In</a>