<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="create-event">
							<h2>Job Details</h2><br>
							<div class="col-md-12">
                       
											{{#each savedJob}}
											<form action="{{this.id}}?_method=GET" method="POST">
                                        <p> Company: {{this.company}}</p>
                                        <p> Contact Name: {{this.contactName}}</p>
																				<p> Contact Name: {{this.contactPhone}}</p>
                                       	<p> Position: {{this.position}}</p>
                                        <p> Job Location: {{this.jobLocation}} </p>
                                        {{!-- <p> Remote Available: {{this.remote_available}}</p> --}}
                                        <p> Confidence level: {{this.confidenceLevel}}</p>
                                        <p> Notes to Self: {{this.notes_to_self}} </p>
                                        <p> Posted Annual Salary: {{this.postedSalary}} </p>
                                        {{!-- <p> Posted Hourly Salary: {{this.posted_hourly_salary}} </p> --}}
                			 </form>
               
                
								  {{/each}}
								

							
									
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	


