<div class="push8"></div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="create-event">
								<h2>Home Page</h2><br>
								<div class="col-md-48">
								<div class="card p-2 bg- border-secondary mb-6">

																			
												{{#each savedJob}}


													<div data-toggle="collapse" action="{{savedJob}}?_method=GET" method="POST" class="card p-3">
														<div class="row">
															<div class="col-16">
																<p> Company: {{company}}</p>
																<p> Contact Name: {{this.contactName}}</p>
																{{!-- <p> Contact Name: {{this.contactPhone}}</p>
																<p> Position: {{this.position}}</p>
																<p> Job Location: {{this.jobLocation}} </p>
																<p> Remote Available: {{this.remote_available}}</p>
																<p> Confidence level: {{this.confidenceLevel}}</p>
																<p> Notes to Self: {{this.notes_to_self}} </p>
																<p> Posted Annual Salary: {{this.postedSalary}} </p> --}}
															</div>
															<div class="col-24">
																														
																<a href="/home/{{id}}"><button >Edit Job Posting</button></a>
															</div>
														</div>
													</div>
													<br>

												{{/each}}
								</div>		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	


